.asideMain{

    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: row;
}

.navRoot{
    width: 100%;
    height: 100%;
}

nav a.active {
    background-color: #7a9a7a;
    color: #fff;
}

.asideMain aside{

    background-color: #b9bcc5;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 2rem;
}

.asideMain main{
    background-color: #cdcfd5;
    width: 80%;
    padding-bottom: 20px;

}

.outletClass{
    width: 95%;
    height: 400px;
}

.tableStyle{

    width: 70vw;
    height: 50vh;
    border: 1px solid black;
    border-Collapse: collapse;
}

.tableStyle th, td{
    border: 1px solid black;
    text-align: center;

}

.elementsBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 10px 5px;
}

.ClNavLink{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #535bf2;
}

.ClNavLinkFeed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #535bf2;
}

.ClNavLinkFeed .navLink{

    width: 40%;
    height: 50px;
    text-decoration: none;
    border-radius: 0.375rem;
    font-size: 1.4vw;
    font-weight: 500;
    margin: 0 0.5vw;
    text-align: start;
    line-height: 40px;
    background-color: yellow;
}


.ClNavLink h2{
   /* align-self: center;*/
    text-align: center;
    width: 50%;
    background-color: #5da95d;
}

.ClNavLink .navLink{
 /*   color: #ffffff;*/
    width: 40%;
    height: 30px;
    text-decoration: none;
    border-radius: 0.375rem;
   /* padding: 5px 4.5vw;*/
    font-size: 1.5vw;
    font-weight: 500;
    margin-right: 1.0vw;
    text-align: start;
    line-height: 30px;
    background-color: yellow;
}

